---
import Layout from "@layouts/Layout.astro";
import Button from "@components/design/Button.astro";
import Title from "@components/design/Title.astro";
---

<Layout>
  <div style="margin-top: 120px;">
    <h2 style="margin-bottom: 20px;">componentes</h2>

    <Button>Hola</Button>

    <Title>Example title</Title>
  </div>
</Layout>
