<a
  class=`flex justify-center items-center text-[17px] py-3 px-6 rounded-[100px] font-semibold hover:opacity-70 transition-opacity 200ms ease ${Astro.props.class || "bg-white text-black"}`

  href={Astro.props.href || "/#"}
>
  <slot />
</a>
